In [4]:
def readData(dataPath):
    dataFile = open(dataPath)
    dataStr = dataFile.read()
    dataList = dataStr.splitlines()
    return dataList

ordersPath = '/data/retail_db/orders/part-00000'
orders = readData(ordersPath)
orders[:10]
# order_id, order_date, order_customer_id, order_status

orderItemsPath = '/data/retail_db/order_items/part-00000'
orderItems = readData(orderItemsPath)
orderItems[:10]

['1,1,957,1,299.98,299.98',
 '2,2,1073,1,199.99,199.99',
 '3,2,502,5,250.0,50.0',
 '4,2,403,1,129.99,129.99',
 '5,4,897,2,49.98,24.99',
 '6,4,365,5,299.95,59.99',
 '7,4,502,3,150.0,50.0',
 '8,4,1014,4,199.92,49.98',
 '9,5,957,1,299.98,299.98',
 '10,5,365,5,299.95,59.99']

In [5]:
t = (2, [(2,'2,2,1073,1,199.99,199.99'),(2,'3,2,502,5,250.0,50.0'),(2,'4,2,403,1,129.99,129.99')])
t[1]

[(2, '2,2,1073,1,199.99,199.99'),
 (2, '3,2,502,5,250.0,50.0'),
 (2, '4,2,403,1,129.99,129.99')]

In [6]:
sum(map(lambda a: float(a[1].split(',')[4]), t[1]))

579.98

In [11]:
import itertools as it

orderItems.sort(key = lambda o: int(o.split(',')[1]))
orderItemsGroupByOrderId = it.groupby(orderItems, key = lambda o: int(o.split(',')[1]) )

revenuePerOrder = map(lambda orderItems: 
                      (orderItems[0], 
                       sum(map(lambda oi: float(oi.split(',')[4]), orderItems[1]))),
                       orderItemsGroupByOrderId)
                      
list(revenuePerOrder)[:10]

[(1, 299.98),
 (2, 579.98),
 (4, 699.85),
 (5, 1129.8600000000001),
 (7, 579.9200000000001),
 (8, 729.8399999999999),
 (9, 599.96),
 (10, 651.9200000000001),
 (11, 919.79),
 (12, 1299.8700000000001)]

In [25]:
import pandas as pd

orderItems1 = pd.read_csv(orderItemsPath, header=None, names=['order_item_id','order_item_order_id','order_item_product_id','order_item_qty','order_item_subtotal','order_item_product_price'])

orderItems1

,order_item_id,order_item_order_id,order_item_product_id,order_item_qty,order_item_subtotal,order_item_product_price
0,1,1,957,1,299.98,299.98
1,2,2,1073,1,199.99,199.99
2,3,2,502,5,250.00,50.00
3,4,2,403,1,129.99,129.99
4,5,4,897,2,49.98,24.99
...,...,...,...,...,...,...
172193,172194,68881,403,1,129.99,129.99
172194,172195,68882,365,1,59.99,59.99
172195,172196,68882,502,1,50.00,50.00
172196,172197,68883,208,1,1999.99,1999.99
172197,172198,68883,502,3,150.00,50.00

In [26]:
orderItems1[['order_item_id', 'order_item_subtotal']]

        order_item_id  order_item_subtotal
0                   1               299.98
1                   2               199.99
2                   3               250.00
3                   4               129.99
4                   5                49.98
...               ...                  ...
172193         172194               129.99
172194         172195                59.99
172195         172196                50.00
172196         172197              1999.99
172197         172198               150.00

[172198 rows x 2 columns]

In [27]:
orderItems1.groupby('order_item_order_id')['order_item_subtotal'].sum()

order_item_order_id
1         299.98
2         579.98
4         699.85
5        1129.86
7         579.92
          ...
68879    1259.97
68880     999.77
68881     129.99
68882     109.99
68883    2149.99
Name: order_item_subtotal, Length: 57431, dtype: float64